<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>URL Safety Checker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>🔒 URL Safety Checker</h1>

    <p>
        Check whether a website is safe before visiting it.
    </p>

    <input
        type="text"
        id="urlInput"
        placeholder="Enter website URL">

    <button id="checkButton">
        Analyze URL
    </button>

    <div id="result" class="result-box">

    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
